/01_April_SQL.pdf
/1646394463276.jpg
/2_April_SQL.pdf
/chinook.db
/chinook.sqbpro
/chinook2.sqbpro
/DERS 2
/Image from iOS (1).jpg
/Image from iOS (2).jpg
/Image from iOS.jpg
/IMG_0575.JPG
/kendim.sql
/onur_mentor
/Session3_Kodlar (1).sql
/Session3_Kodlar.sql
/sql pdf
/SQL_ITF011_Session1.pdf
/SQL_ITF11_Session_3.pdf
/teamwrk01.sqbpro
/Yeni Metin Belgesi.txt